/* Import variables */
@import "./_variables.scss";

/* Estilos generales */
body {
  background-color: var(--primary-color);
}

p {
  font-family: var(--main-font-family);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}
.nav-link {
  color: var(--extra-color);
}
/* Estilos para imágenes */
.logo-img{
  width: 5rem;
}
.hero-img-custom {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.295)) drop-shadow(0 1rem 3rem rgba(0, 0, 0, 0.678));
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-in-up-delayed {
  animation: fadeInUp 1s ease-out 0.5s forwards;
}
.card-img-top{
  border-radius: var(--border-radius);
  height: 18rem;
  width: auto;
  object-position: center;
}
.container-learning img,
.container-projects img{
  height: 14rem;
  width: auto;
}
.carousel-control-prev,
.carousel-control-next {
  margin: auto;
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}
.carousel-indicators {
  margin-top: 2rem;
  position: inherit;
}
.learning-text-column {
  width: 40%;
}
/* Estilos para las tarjetas */
.card-learning,
.card-aboutme-inner,
.card-projects {
  color: var(--quaternary-color);
  background-color: var(--extra-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
  margin: 2rem auto;
}
.card-learning{
  height: 50rem;
}
/* Estilos para la barra de navegación */
.container-nabvar {
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  text-transform: var(--uppercase-text);
  color: var(--extra-color);
  margin-left: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Estilos para las secciones principales */
.row-hero,
.container-hero {
  display: flex;
  align-items: center;
  max-width: 100%;
  color: var(--extra-color);
  background-image: url(../assets/dortmund-parallax2.png);
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.container-aboutme,
.container-learning,
.container-projects,
.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 4rem auto;
}

/* Estilos para el pie de página */
.container-footer {
  background-color: var(--secondary-color);
  color: var(--extra-color);
  padding: 1rem;
}

/* Estilos para los iconos sociales */
.social-icon {
  border-radius: var(--border-radius);
  height: 6rem;
  width: 6rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
}
.socialLinkLearning a,
.socialLinkAbout a {
  background-color: var(--extra-color);
  color: var(--tertiary-color);
  cursor: default;
  
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--secondary-color) 50%
    
  );
  background-position: 0 0;
  background-size: 200% 200%;
  box-shadow: var(--box-shadow-1);
  -webkit-box-shadow: var(--webkit-box-shadow-1);
  -moz-box-shadow: var(--moz-box-shadow-1);
}
.socialLinkAboutCard a,
.socialLinkProject a {
  background-color: var(--secondary-color);
  color: var(--extra-color);
  transition: var(--transition);
  transform: var(--transform);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--tertiary-color) 50%
  );
  background-position: 0 0;
  background-size: 200% 200%;
  box-shadow: var(--box-shadow-1);
  -webkit-box-shadow: var(--webkit-box-shadow-1);
  -moz-box-shadow: var(--moz-box-shadow-1);
}

.socialLinkFooter a {
  height: 6rem;
  width: 6rem;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--tertiary-color) 50%
  );
  background-position: 0 0;
  background-size: 200% 200%;
  background-color: var(--extra-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow-1);
  -webkit-box-shadow: var(--webkit-box-shadow-1);
  -moz-box-shadow: var(--moz-box-shadow-1);
}

/* Estilos para el formulario de contacto */
.container-contact-form {
  padding: 3rem;
  border: var(--border) solid var(--tertiary-color);
  border-radius: var(--border-radius);
  background-color: var(--extra-color);
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
}
.contact-form-label,
.contact-label-textarea {
  font-size: var(--font-size-m);
}
.btn-custom {
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-500);
  color: var(--extra-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-1);
  -webkit-box-shadow: var(--webkit-box-shadow-1);
  -moz-box-shadow: var(--moz-box-shadow-1);
  text-transform: var(--uppercase-text);
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--tertiary-color) 50%
  );
  background-position: 0 0;
  background-size: 200% 200%;
}
/* Estilos para las imágenes de los idiomas */
.imgLanguage {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* Estilos para el botón de cambio de idioma */
.btn-language {
  text-transform: var(--uppercase-text);
  padding: 1rem;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-500);
  color: var(--extra-color);
}

/* para dispositivos pequeños, como teléfonos móviles */
@media (max-width: 576px) {
  .learning-text-column,
  .learning-card-column {
    width: 100%;
  }
  .container-aboutme,
  .container-learning
  .container-projects,
  .container-contact{
    height: max-content;
    margin: 4rem auto;
  }
  .card-learning-container {
    display: flex;
    flex-direction: column-reverse;
    margin:auto;
  }
}

/* para dispositivos medianos, como tablets */
@media (min-width: 576px) and (max-width: 992px) {
  .container-aboutme,
  .container-learning
  .container-projects,
  .container-contact{
    height: max-content;

  }
}
/* para dispositivos grandes, como laptops y pantallas de escritorio */
@media (min-width: 992px) {
  .container-contact-form {
    width: 75%;
  }
  .carousel-inner {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: inherit;
  }
  .socialLinkFooter a:hover,
  .socialLinkLearning a:hover,
  .socialLinkAbout a:hover {
    color: var(--extra-color);
    background-position: 100% 100%;
    background-clip: padding-box;
    transition: var(--transition);
  }
  .socialLinkAboutCard a:hover,
  .socialLinkProject a:hover {
    color: var(--extra-color);
    background-position: 100% 100%;
    background-clip: padding-box;
    transition: var(--transition);
  }
  .btn-custom:hover{
    color: var(--extra-color);
    background-position: 100% 100%;
    background-clip: padding-box;
    transition: var(--transition);
  }
  .container-learning,
.container-aboutme,
.container-projects,
.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 80rem;
}
}
